.banner-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 40%;
  height: auto;
  position: absolute;
  margin-top: 3%;
}

.banner {
  width: 100%;
  height: auto;
}
