body {
  background-color: #fafafa;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 40px;
}

.center-align {
  text-align: center;
}

.banner-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
@media (max-width: 700px) {
  .banner-container {
    background-size: cover;
    background-attachment: scroll;
  }
}

.logo {
  width: 40%;
  height: auto !important;
  position: absolute;
  margin-top: 3%;
}

.banner {
  width: 100%;
  height: auto !important;
}

.about-section {
  padding: 0 5%;
}

.header-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  margin: 0 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  border-top: 1px solid black;
}

.copyright-text {
  font-size: 14px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.product-container {
  flex: 0 1 calc(25% - 40px);
  margin: 40px 20px;
}

@media (max-width: 750px) {
  .product-container {
    flex: 0 1 calc(33% - 40px);
  }
}

@media (max-width: 500px) {
  .product-container {
    flex: 0 1 100%;
  }
}
